<nav>
	<ul class="nav justify-content-center mb-4">
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_main_admin') }}">Accueil</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_user_admin') }}">Utilisateurs</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_admin_livres_index') }}">Livres</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Salles</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_sub_admin') }}">Abonnements</a>
		</li>
	</ul>
</nav>
