{% extends 'base.html.twig' %}

{% block body %}
	<style>

	</style>

	<main class="py-0">
		{{include ('main/_home-hero.html.twig')}}
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>C:/xampp/htdocs/Projet-Biblio/src/Controller/MainController.php</code>
			</li>
			<li>Your template at
				<code>C:/xampp/htdocs/Projet-Biblio/templates/main/index.html.twig</code>
			</li>
		</ul>
	</main>
{% endblock %}
