{% extends 'base.html.twig' %}

{% block title %}Admin - Utilisateurs{% endblock %}

{% block body %}

<main>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/xampp/htdocs/Projet-Biblio/src/Controller/UserAdminController.php</code></li>
        <li>Your template at <code>C:/xampp/htdocs/Projet-Biblio/templates/user_admin/index.html.twig</code></li>
    </ul>
</main>
{% endblock %}
