<div class="container-fluid p-0">
	<div class="jumbotron jumbotron-fluid d-flex align-items-center text-center text-white bg-dark p-5 vh-50" style="background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),url('https://source.unsplash.com/random/?books'); background-size: cover; background-position: center;">
		<div class="container">
			<h1 class="display-4">Bienvenue chez MyBiblio !</h1>
			<p class="lead">Un simple abonnement pour toute la connaissance !</p>
			<a href="#" class="btn btn-primary btn-lg p-3 mt-3">Je m'abonne !</a>
		</div>
	</div>
</div>
